[submodule "Assets/AssetBundles-Browser"]
	path = Assets/AssetBundles-Browser
	url = https://github.com/Unity-Technologies/AssetBundles-Browser.git
[submodule "Assets/AssetBundleManager"]
	path = Assets/AssetBundleManager
	url = https://github.com/hiroki-o/AssetBundleManager.git
