[submodule "Assets/AssetBundleGraphTool"]
	path = Assets/AssetBundleGraphTool
	url = https://bitbucket.org/Unity-Technologies/assetbundlegraphtool.git
	branch = 1.3/release
[submodule "Assets/AssetBundles-Browser"]
	path = Assets/AssetBundles-Browser
	url = https://github.com/hiroki-o/AssetBundles-Browser.git
	branch = 1.3/release
[submodule "Assets/AssetBundleManager"]
	path = Assets/AssetBundleManager
	url = https://github.com/hiroki-o/AssetBundleManager.git
	branch = 1.3/release
